@font-face {
  font-family: FireFont;
  src: url('./fonts/pepperoni_pizza.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Suggestions {
  background-color:#f9f9f9;
  padding: 20px 0;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Suggestion {
  background-color: #f95300;
  color: white;
  padding: 50px;
  font-size: 2rem;
}

.CanvasContainer {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.Title {
  text-align: center;
  padding: 10px;
  font-family: FireFont;
  font-size: 60px;
  color: #f95300;
}
